---
layout: page
title: Fun√ß√µes
nav_order: 9
---
[<img src="https://raw.githubusercontent.com/flaviovdf/fcd/master/assets/colab_favicon_small.png" style="float: right;">](https://colab.research.google.com/github/flaviovdf/fcd/blob/master/_lessons/09-Funcoes.ipynb)

# T√≥pico 9 ‚Äì Fun√ß√µes e Apply
{: .no_toc .mb-2 }

Vamos aprender sobre fun√ß√µes Python e como aplicar as mesmas em `DataFrame`.
{: .fs-6 .fw-300 }

{: .no_toc .text-delta }
Resultados Esperados

1. Entender como definir fun√ß√µes `def`
1. Entender como aplicar fun√ß√µes em `DataFrame`s (`apply`)

{: .no_toc .text-delta }
Material Adaptado do [DSC10 (UCSD)](https://dsc10.com/)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')

### Agenda

- Fun√ß√µes.
- Aplicando fun√ß√µes a DataFrames.
- Exemplo: Nomes de alunos.

## Fun√ß√µes

### Definindo fun√ß√µes
* Aprendemos bastante como fazer em Python:
* Manipular arrays, s√©ries e DataFrames.
* Execute opera√ß√µes em strings.
* Crie visualiza√ß√µes.
* Mas at√© agora, estamos restritos ao uso de fun√ß√µes existentes (por exemplo, `max`, `np.sqrt`, `len`) e m√©todos (por exemplo, `.groupby`, `.assign`, `.plot`).

### Motiva√ß√£o

Suponha que voc√™ dirija at√© um restaurante ü•ò em Ouro Preto, localizado a exatamente 100 quil√¥metros de dist√¢ncia.

- Nos primeiros 80 quil√¥metros, voc√™ dirige a 80 quil√¥metros por hora.
- Nos √∫ltimos 20 quil√¥metros, voc√™ dirige a 60 quil√¥metros por hora.

- **Pergunta:** Qual √© a sua **velocidade m√©dia** durante a viagem?

- üö® A resposta n√£o √© 70 quil√¥metros por hora! Voc√™ precisa usar o fato de que $\text{velocidade} = \frac{\text{distancia}}{\text{tempo}}$.

$$\text{velocidade m√©dia} = \frac{\text{dist√¢ncia}}{\text{tempo}} = \frac{80 + 20}{\text{tempo}_1 + \text{tempo}_2} \text { km por hora}$$

No segmento 1, quando voc√™ dirigiu 80 quil√¥metros a 80 quil√¥metros por hora, voc√™ dirigiu por $\frac{80}{80}$ horas:

$$\text{velocidade}_1 = \frac{\text{dist√¢ncia}_1}{\text{tempo}_1}$$

$$80 \text{ km por hora} = \frac{80 \text{ km}}{\text{time}_1} \implies \text{time}_1 = \frac{80}{80} \text{ horas} = 1$$

Da mesma forma, no segmento 2, quando voc√™ dirigiu 20 quil√¥metros a 60 quil√¥metros por hora, voc√™ dirigiu por $\text{time}_2 = \frac{20}{60} \text{ horas} = \frac{1}{3} horas$.

Ent√£o,

$$\text{velocidade m√©dia} = \frac{80 + 20}{\frac{1}{1} + \frac{1}{3}} \text{ km por hora} $$

$$\begin{align*}\text{velocidade m√©dia} &= 100 \cdot \frac{1}{\frac{1}{1} + \frac{1}{3}} \text{ km por hora} \\ &= 100 \frac{1}{\frac{3 + 1}{3}} \\ &= 100 \frac{3}{4} \\ &= 75 \text{ km por hora}\end{align*} $$

### Exemplo: m√©dia harm√¥nica

A **m√©dia harm√¥nica** ($\text{HM}$) de dois n√∫meros positivos, $a$ e $b$, √© definida como

$$\text{HM} = \frac{2}{\frac{1}{a} + \frac{1}{b}}$$

Geralmente √© usado para encontrar a m√©dia de m√∫ltiplas **taxas**.

Encontrar a m√©dia harm√¥nica de 80 e 60 n√£o √© dif√≠cil:

In [2]:
2 / (1 / 1 + 1 / 3)

1.5

Mas e se quisermos determinar a m√©dia harm√≥nica de 80 e 70? 80 e 90? 20 e 40? **Isso exigiria muito copiar e colar, o que √© propenso a erros.**

Acontece que podemos **definir** nossa pr√≥pria fun√ß√£o de "m√©dia harm√¥nica" **apenas uma vez e reutiliz√°-la v√°rias vezes.

In [3]:
def harmonic_mean(a, b):
    return 2 / (1 / a + 1 / b)

In [4]:
harmonic_mean(1, 3)

1.5

In [5]:
harmonic_mean(1, 5)

1.6666666666666667

Observe que s√≥ tivemos que especificar como calcular a m√©dia harm√¥nica uma vez!

### Fun√ß√µes

Fun√ß√µes s√£o uma forma de dividir nosso c√≥digo em pequenas subpartes para evitar que escrevamos c√≥digo repetitivo. Cada vez que **definirmos** nossa pr√≥pria fun√ß√£o em Python, usaremos o seguinte padr√£o.

In [6]:
from IPython.display import display, IFrame
def show_def():
    src = "https://docs.google.com/presentation/d/e/2PACX-1vRKMMwGtrQOeLefj31fCtmbNOaJuKY32eBz1VwHi_5ui0AGYV3MoCjPUtQ_4SB1f9x4Iu6gbH0vFvmB/embed?start=false&loop=false&delayms=60000"
    width = 960 
    height = 569
    display(IFrame(src, width, height))
show_def()

### Fun√ß√µes s√£o "receitas"

- As fun√ß√µes recebem entradas, conhecidas como **argumentos**, fazem algo e produzem algumas sa√≠das.
- A beleza das fun√ß√µes √© que **voc√™ n√£o precisa saber como elas s√£o implementadas para us√°-las!**
- Esta √© a premissa da ideia de **abstra√ß√£o** na ci√™ncia da computa√ß√£o ‚Äì voc√™ ouvir√° muito sobre isso no DSC 20.

In [7]:
harmonic_mean(1, 1)

1.0

In [8]:
harmonic_mean(1, 3)

1.5

In [9]:
harmonic_mean(1, 2)

1.3333333333333333

### Par√¢metros e argumentos

`triple` tem um **par√¢metro**, `x`.

In [10]:
def triple(x):
    return x * 3

Quando chamamos `triple` com o **argumento** 5, voc√™ pode fingir que h√° uma primeira linha invis√≠vel no corpo de `triple` que diz `x = 5`.

In [11]:
triple(5)

15

Observe que os argumentos podem ser de qualquer tipo!

In [12]:
triple('triton')

'tritontritontriton'

### Fun√ß√µes podem receber 0 ou mais argumentos

As fun√ß√µes podem ter qualquer n√∫mero de argumentos. At√© agora, criamos uma fun√ß√£o que leva dois argumentos ‚Äì `harmonic_mean` ‚Äì e uma fun√ß√£o que leva um argumento ‚Äì `triple`.

`sauda√ß√£o` n√£o aceita argumentos!

In [13]:
def greeting():
    return 'Hi! üëã'

In [14]:
greeting()

'Hi! üëã'

### As fun√ß√µes n√£o s√£o executadas at√© que voc√™ as chame!

O corpo de uma fun√ß√£o n√£o √© executado at√© que voc√™ use (**call**) a fun√ß√£o.

Aqui, podemos definir `where_is_the_error` sem ver uma mensagem de erro.

In [15]:
def where_is_the_error(something):
    '''You can describe your function within triple quotes. For example, this function 
    illustrates that errors don't occur until functions are executed (called).'''
    return (1 / 0) + something

Somente quando **chamamos** `where_is_the_error` que o Python nos d√° uma mensagem de erro.

In [16]:
where_is_the_error(5)

ZeroDivisionError: division by zero

### Exemplo: `primeiro_nome`

Vamos criar uma fun√ß√£o chamada `first_name` que recebe o nome completo de algu√©m e retorna seu primeiro nome. Um exemplo de comportamento √© mostrado abaixo.
```py
>>> first_name('Flavio Figueiredo')
'Flavio'
```
*Dica*: Use o m√©todo string `.split`.

Estrat√©gia geral para escrever fun√ß√µes:
1. Primeiro, tente fazer com que o comportamento funcione em um √∫nico exemplo.
2. Em seguida, encapsule esse comportamento dentro de uma fun√ß√£o.

In [17]:
'Flavio Figueiredo'.split(' ')[0]

'Flavio'

In [18]:
def first_name(full_name):
    '''Returns the first name given a full name.'''
    return full_name.split(' ')[0]

In [19]:
first_name('Flavio Figueiredo')

'Flavio'

In [20]:
# What if there are three names?
first_name('Mestre Flavio Figueiredo')

'Mestre'

### Retornando

- A palavra-chave `return` especifica qual deve ser a sa√≠da da sua fun√ß√£o, ou seja, como ser√° avaliada uma chamada para a sua fun√ß√£o.
- A maioria das fun√ß√µes que escrevemos usar√° `return`, mas usar `return` n√£o √© obrigat√≥rio.
- Tenha cuidado: `print` e `return` funcionam de forma diferente!

In [21]:
def pythagorean(a, b):
    '''Computes the hypotenuse length of a triangle with legs a and b.'''
    c = (a ** 2 + b ** 2) ** 0.5
    print(c)

In [22]:
x = pythagorean(3, 4)

5.0

In [23]:
# No output ‚Äì why?
x

In [24]:
# Errors ‚Äì why?
x + 10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [25]:
def better_pythagorean(a, b):
    '''Computes the hypotenuse length of a triangle with legs a and b, and actually returns the result.'''
    c = (a ** 2 + b ** 2) ** 0.5
    return c

In [26]:
x = better_pythagorean(3, 4)
x

5.0

In [27]:
x + 10

15.0

### Retornando
Depois que uma fun√ß√£o executa uma instru√ß√£o `return`, ela para de funcionar.

In [28]:
def motivational(quote):
    return 0
    print("Uma frase motivacional:", quote)

In [29]:
motivational('Caia sete vezes e se levante oito.')

0

### Escopo ü©∫

Os nomes que voc√™ escolhe para os par√¢metros de uma fun√ß√£o s√£o conhecidos apenas por essa fun√ß√£o (conhecido como **escopo local**). O restante do seu notebook n√£o √© afetado pelos nomes dos par√¢metros.

In [30]:
def what_is_awesome(s):
    return s + ' is awesome!'

In [31]:
what_is_awesome('data science')

'data science is awesome!'

In [32]:
# descomente para ver o erro
# s

In [33]:
s = 'FCD'

In [34]:
what_is_awesome('data science')

'data science is awesome!'

## Aplicando fun√ß√µes a DataFrames

### Dados dos alunos de FCD

A `df` do DataFrame cont√©m os nomes de todos os alunos matr√≠culados em FCD.

In [35]:
nomes = 'ANNY \
ARTHUR \
ARTHUR \
CAIO \
CAROLINA \
CLARA \
DANIELLE \
EDUARDO \
EDUARDO \
EMANUEL \
ENZO \
FELIPE \
FELIPE \
FRANCISCO \
GABRIEL \
GABRIEL \
GABRIELLY \
GAEL \
GUILHERME \
GUILHERME \
GUSTAVO \
ISAAC \
JOAO \
JOAO \
KARINA \
LETICIA \
LETICIA \
LIVIA \
LORRANY \
LUCAS \
LUIS \
MARCO \
MATEUS \
MATEUS \
MATHEUS \
RAIZA \
RENATO \
SOPHIA \
THAYRELAN \
VICTOR'

In [36]:
df = pd.DataFrame().assign(
    nome=nomes.split()
)
df = df.sample(df.shape[0])
df

         nome
39     VICTOR
26    LETICIA
0        ANNY
3        CAIO
29      LUCAS
15    GABRIEL
6    DANIELLE
20    GUSTAVO
36     RENATO
19  GUILHERME
7     EDUARDO
35      RAIZA
13  FRANCISCO
16  GABRIELLY
30       LUIS
33     MATEUS
32     MATEUS
28    LORRANY
38  THAYRELAN
12     FELIPE
11     FELIPE
21      ISAAC
23       JOAO
2      ARTHUR
5       CLARA
9     EMANUEL
22       JOAO
27      LIVIA
14    GABRIEL
8     EDUARDO
24     KARINA
34    MATHEUS
37     SOPHIA
1      ARTHUR
10       ENZO
25    LETICIA
18  GUILHERME
31      MARCO
17       GAEL
4    CAROLINA

### Exemplo: qual a primeira letra mais comum entre os nomes dos discentes de FCD?

- **Problema**: N√£o podemos responder agora, pois n√£o temos uma coluna com primeira letra. Se o fiz√©ssemos, poder√≠amos agrupar por ele.

- **Solu√ß√£o**: Criar uma fun√ß√£o.

### Criando uma fun√ß√£o `primeira_letra`

De alguma forma, precisamos chamar `'primeira_letra'` no `'nome'` de cada aluno.

In [37]:
def primeira_letra(nome):
    return nome[0]

In [38]:
primeira_letra('FLAVIO')

'F'

In [39]:
primeira_letra(df.get('nome').iloc[0])

'V'

In [40]:
primeira_letra(df.get('nome').iloc[1])

'L'

Idealmente, existe uma solu√ß√£o melhor do que fazer isso centenas de vezes...

### `.apply`

- Para **aplicar** uma fun√ß√£o a cada elemento da coluna `column_name` no DataFrame `df`, use

<br>

<center><code>df.get(column_name).apply(function_name)</code></center>

- O m√©todo `.apply` √© um m√©todo de uma **Series** **n√£o** de um DataFrame.
- **Importante:** Usamos `.apply` em s√©ries, **n√£o** em DataFrames.
- A sa√≠da de `.apply` tamb√©m √© uma s√©rie.

- Passe _apenas o nome_ da fun√ß√£o ‚Äì n√£o a chame!
- Bom ‚úÖ: `.apply(primeira_letra)`.
- Ruim ‚ùå: `.apply(primeira_letra())`.

In [41]:
df.get('nome').apply(primeira_letra)

39    V
26    L
0     A
3     C
29    L
15    G
6     D
20    G
36    R
19    G
7     E
35    R
13    F
16    G
30    L
33    M
32    M
28    L
38    T
12    F
11    F
21    I
23    J
2     A
5     C
9     E
22    J
27    L
14    G
8     E
24    K
34    M
37    S
1     A
10    E
25    L
18    G
31    M
17    G
4     C
Name: nome, dtype: object

### Exemplo: nomes pr√≥prios comuns

In [42]:
df = df.assign(
    primeira=df.get('nome').apply(primeira_letra)
)
df

         nome primeira
39     VICTOR        V
26    LETICIA        L
0        ANNY        A
3        CAIO        C
29      LUCAS        L
15    GABRIEL        G
6    DANIELLE        D
20    GUSTAVO        G
36     RENATO        R
19  GUILHERME        G
7     EDUARDO        E
35      RAIZA        R
13  FRANCISCO        F
16  GABRIELLY        G
30       LUIS        L
33     MATEUS        M
32     MATEUS        M
28    LORRANY        L
38  THAYRELAN        T
12     FELIPE        F
11     FELIPE        F
21      ISAAC        I
23       JOAO        J
2      ARTHUR        A
5       CLARA        C
9     EMANUEL        E
22       JOAO        J
27      LIVIA        L
14    GABRIEL        G
8     EDUARDO        E
24     KARINA        K
34    MATHEUS        M
37     SOPHIA        S
1      ARTHUR        A
10       ENZO        E
25    LETICIA        L
18  GUILHERME        G
31      MARCO        M
17       GAEL        G
4    CAROLINA        C

In [43]:
letra_count = (df.
               groupby('primeira').
               size().
               sort_values(ascending=False)
)
letra_count

primeira
G    7
L    6
E    4
M    4
C    3
F    3
A    3
J    2
R    2
I    1
D    1
K    1
S    1
T    1
V    1
dtype: int64

### Atividade

Abaixo:
- Crie um **gr√°fico de barras** para a `primeira` e `ultima` letra de cada nome.
- O que voc√™ consegue tirar dos dois gr√°ficos?

In [44]:
...

Ellipsis

In [45]:
...

Ellipsis

### Nota: `.apply` tamb√©m funciona com fun√ß√µes j√° existentes!

Por exemplo, para encontrar o comprimento de cada nome, podemos usar a fun√ß√£o `len`:

In [46]:
df

         nome primeira
39     VICTOR        V
26    LETICIA        L
0        ANNY        A
3        CAIO        C
29      LUCAS        L
15    GABRIEL        G
6    DANIELLE        D
20    GUSTAVO        G
36     RENATO        R
19  GUILHERME        G
7     EDUARDO        E
35      RAIZA        R
13  FRANCISCO        F
16  GABRIELLY        G
30       LUIS        L
33     MATEUS        M
32     MATEUS        M
28    LORRANY        L
38  THAYRELAN        T
12     FELIPE        F
11     FELIPE        F
21      ISAAC        I
23       JOAO        J
2      ARTHUR        A
5       CLARA        C
9     EMANUEL        E
22       JOAO        J
27      LIVIA        L
14    GABRIEL        G
8     EDUARDO        E
24     KARINA        K
34    MATHEUS        M
37     SOPHIA        S
1      ARTHUR        A
10       ENZO        E
25    LETICIA        L
18  GUILHERME        G
31      MARCO        M
17       GAEL        G
4    CAROLINA        C

In [47]:
df.get('nome').apply(len)

39    6
26    7
0     4
3     4
29    5
15    7
6     8
20    7
36    6
19    9
7     7
35    5
13    9
16    9
30    4
33    6
32    6
28    7
38    9
12    6
11    6
21    5
23    4
2     6
5     5
9     7
22    4
27    5
14    7
8     7
24    6
34    7
37    6
1     6
10    4
25    7
18    9
31    5
17    4
4     8
Name: nome, dtype: int64

### Atividade

Encontre o nome mais curto da turma que seja compartilhado por pelo menos dois alunos na mesma se√ß√£o.

*Dica*: Voc√™ ter√° que usar `.assign` e `.apply`.

In [48]:
...

Ellipsis

## Resumo, da pr√≥xima vez

### Resumo

- Fun√ß√µes s√£o uma forma de dividir nosso c√≥digo em pequenas subpartes para evitar que escrevamos c√≥digo repetitivo.
- O m√©todo `.apply` nos permite chamar uma fun√ß√£o em cada elemento de uma S√©rie, o que geralmente vem de `.get`ting uma coluna de um DataFrame.

### Pr√≥xima vez

Manipula√ß√µes mais avan√ßadas de DataFrame!